<!-- Standard favicons -->
<link rel='icon' type='image/x-icon' href='{{ absURL "images/icons/favicon.ico" }}'>
<link rel='icon' type='image/png' sizes='16x16' href='{{ absURL "images/icons/favicon-16x16.png" }}'>
<link rel='icon' type='image/png' sizes='32x32' href='{{ absURL "images/icons/favicon-32x32.png" }}'>
<link rel='icon' type='image/png' sizes='96x96' href='{{ absURL "images/icons/favicon-96x96.png" }}'>

<!-- Apple Touch Icons -->
<link rel='apple-touch-icon' sizes='180x180' href='{{ absURL "images/icons/apple-touch-icon.png" }}'>

<!-- Android Chrome Icons -->
<link rel='icon' type='image/png' sizes='192x192' href='{{ absURL "images/icons/android-chrome-192x192.png" }}'>
<link rel='icon' type='image/png' sizes='512x512' href='{{ absURL "images/icons/android-chrome-512x512.png" }}'>

<!-- Web App Manifest -->
<link rel='manifest' href='{{ absURL "images/icons/site.webmanifest" }}'>

<!-- Theme colors for mobile browsers -->
<meta name='theme-color' content='#131313'>
<meta name='msapplication-TileColor' content='#131313'>
<meta name='msapplication-TileImage' content='{{ absURL "images/icons/android-chrome-192x192.png" }}'>
